<table class="table table-hover table-dark mt-5 text-center" *ngIf="data">
  <thead>
    <tr>
      <th scope="col">OrderId</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Order Type</th>
      <th scope="col">Phone Order</th>
      <th scope="col">Sum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" (click)="itemClick(item)">
      <td>{{item.ID}}</td>
      <td>30/12/2018 9:57</td>
      <td>{{item.EndTimeString}}</td>
      <td>{{item.CustomerName}}</td>
      <td>Order Type</td>
      <td>{{item.CustomerPhoneNumber}}</td>
      <td>{{item.OrderSum}}</td>
    </tr>
  </tbody>
</table>
